services:
  app:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - "./frontend:/app"
      - "/app/node_modules"
      - "/app/.next"

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      -"./backend:/app"
